main{
	width:100%;
	section{
		&.slider{
			img{
				overflow: hidden;
				height:100%;
			}

			/* En la hoja de estilos del pluggin "bjqs.css" se encuentran estilos añadidos para el mismo. */
		}

		&.principal{

			@include section_standard();

			span{
				margin-top:20px;
				margin-bottom:40px;
				padding:10px 20px 10px 20px;
				background-color:$second_text_color;
				color:white;
				text-align:center;
				cursor:pointer;
			}
		}

		&.social{
			margin-top:50px;
			width:100%;
			background-color:rgba(56,56,56,0.2);
			height:50px;

			article{
				display:inline;

				&:nth-child(1){

					h3{
						display:inline;
						margin-left:50px;
						margin-top:10px;
						padding-right:30px;
						position:absolute;
						width:200px;
						color:$second_text_color;
					}

					ul{
						position:absolute;
						width:130px;
						left:200px;
						margin-top:5px;

						li{
							position:static;
							display:inline-table;

							svg{
								height:35px;
								width:35px;
							}

							&:nth-child(1){
								svg{
									g{ fill:$facebook_color; }
								}
							}
							&:nth-child(2){
								svg{
									fill:$twitter_color;
								}
							}
							&:nth-child(3){
								svg{
									g{ fill:$linkedin_color; }
								}
							}
						}
					}
				}

				&:nth-child(2){
					margin-top:15px;
					float:right;
					margin-right:50px;

					h3{
						float:left;
						margin-right:10px;
						color:$second_text_color;
					}

					form{
						float:right;

						input{
							margin-right:0px;
							height:20px;
							border:none;
							background-color:white;
							color:$main_text_color;

							&:nth-child(3){
								height:22px;
								margin-left:-3px;
								background-color:$second_text_color;
								color:white;
								cursor:pointer;
							}
						}
					}
				}
			}
		}
	}
}

@media #{$tablet} {
	main{
		section{
			.principal{
				@include tablet_margins();

				h2{
					padding-top:30px;
				}

				p{
					padding-top:10px;
					padding-bottom:30px;
				}
			}

			&.social{

				article{
					display:inherit;
					@include tablet_margins();
					margin-right:0px;

					&:nth-child(1){
						h3{
							display:none;
						}
						ul{
							position:inherit;
							float:left;
						}
					}

					&:nth-child(2){

						h3{
						}

						form{

							input{

								&:nth-child(1), &:nth-child(2){
									width:100px;
								}

								&:nth-child(3){
								}
							}
						}
					}
				}
			}
		}
	}
}

@media #{$phone} {
	main{
		section{
			.principal{
				@include phone_margins();

				h2{
					padding-top:20px;
				}

				p{
					padding-top:15px;
					padding-bottom:15px;
				}
			}

			&.social{
				height:150px;

				article{
					float:none;
					display:block;
					height:50px;
					text-align:center;

					&:nth-child(1){
						text-align:center;
						padding-top:10px;

						h3{
							position:relative;
							width:0px;
							display:initial;
						}
						ul{
							position:relative;
							@include center();
							left:10px;
							padding-top:5px;

							li{

							}
						}
					}

					&:nth-child(2){
						height:50px;
						float:none;
						@include center();
						margin-top:15px;

						h3{
							float:none;
							margin:0;
							padding-bottom:10px;
						}

						form{
							float:none;

							input{
								
								&:nth-child(1), &:nth-child(2){
									width:100px;
								}
								&:nth-child(3){
								}
							}
						}
					}
				}
			}
		}
	}
}