main{
	width:100%;
	section{
		&.slider{
			img{
				overflow: hidden;
				height:100%;
			}

			/* En la hoja de estilos del pluggin "bjqs.css" se encuentran estilos añadidos para el mismo. */
		}

		&.principal{
			margin-left:50px;
			margin-right:50px;
			text-align:center;

			h2{
				padding-top:50px;
			}

			p{
				text-align:left;
				padding-top:30px;
				padding-bottom:50px;
				line-height: 20px;
			}

			span{
				margin-top:20px;
				margin-bottom:40px;
				padding:10px 20px 10px 20px;
				background-color:$second_text_color;
				color:white;
				text-align:center;
			}
		}

		&.social{
			margin-top:50px;
			width:100%;
			background-color:rgba(56,56,56,0.2);
			height:50px;

			article{
				height:100%;
				display:inline;
				position:relative;

				&:nth-child(1){

					h3{
						display:inline;
						margin-left:50px;
						margin-top:10px;
						padding-right:30px;
						position:absolute;
						width:200px;
					}

					ul{
						position:absolute;
						width:130px;
						left:200px;
						margin-top:5px;

						li{
							position:static;
							display:inline-table;

							svg{
								height:35px;
								width:35px;
							}

							&:nth-child(1){
								svg{
									g{ fill:$facebook_color; }
								}
							}
							&:nth-child(2){
								svg{
									fill:$twitter_color;
								}
							}
							&:nth-child(3){
								svg{
									g{ fill:$linkedin_color; }
								}
							}
						}
					}
				}

				&:nth-child(2){
					float:right;
				}
			}
		}
	}
}

@media #{$tablet} {
	main{

		.principal{
			@include tablet_margins();

			h2{
				padding-top:30px;
			}

			p{
				padding-top:10px;
				padding-bottom:30px;
			}
		}
	}
}

@media #{$phone} {
	main{
		.principal{
			@include phone_margins();

			h2{
				padding-top:20px;
			}

			p{
				padding-top:15px;
				padding-bottom:15px;
			}
		}
	}
}