@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Importa los Partials*/
/* line 5, ../sass/partials/_base.scss */
#lista {
  background-color: blue;
}

/*Importa los módulos*/
/* line 1, ../sass/pages/_inicio.scss */
main {
  width: 100%;
}
/* line 4, ../sass/pages/_inicio.scss */
main section.slider {
  /* En la hoja de estilos del pluggin "bjqs.css" se encuentran estilos añadidos para el mismo. */
}
/* line 5, ../sass/pages/_inicio.scss */
main section.slider img {
  overflow: hidden;
  height: 100%;
}
/* line 13, ../sass/pages/_inicio.scss */
main section.principal {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
/* line 29, ../sass/modules/_utility.scss */
main section.principal h2 {
  padding-top: 50px;
}
/* line 33, ../sass/modules/_utility.scss */
main section.principal p {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 50px;
  line-height: 20px;
}
/* line 17, ../sass/pages/_inicio.scss */
main section.principal span {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px 20px 10px 20px;
  background-color: #0074c5;
  color: white;
  text-align: center;
  cursor: pointer;
}
/* line 28, ../sass/pages/_inicio.scss */
main section.social {
  margin-top: 50px;
  width: 100%;
  background-color: rgba(56, 56, 56, 0.2);
  height: 50px;
}
/* line 34, ../sass/pages/_inicio.scss */
main section.social article {
  display: inline;
}
/* line 39, ../sass/pages/_inicio.scss */
main section.social article:nth-child(1) h3 {
  display: inline;
  margin-left: 50px;
  margin-top: 10px;
  padding-right: 30px;
  position: absolute;
  width: 200px;
  color: #0074c5;
}
/* line 49, ../sass/pages/_inicio.scss */
main section.social article:nth-child(1) ul {
  position: absolute;
  width: 130px;
  left: 200px;
  margin-top: 5px;
}
/* line 55, ../sass/pages/_inicio.scss */
main section.social article:nth-child(1) ul li {
  position: static;
  display: inline-table;
}
/* line 59, ../sass/pages/_inicio.scss */
main section.social article:nth-child(1) ul li svg {
  height: 35px;
  width: 35px;
}
/* line 66, ../sass/pages/_inicio.scss */
main section.social article:nth-child(1) ul li:nth-child(1) svg g {
  fill: #3b5998;
}
/* line 70, ../sass/pages/_inicio.scss */
main section.social article:nth-child(1) ul li:nth-child(2) svg {
  fill: #55acee;
}
/* line 76, ../sass/pages/_inicio.scss */
main section.social article:nth-child(1) ul li:nth-child(3) svg g {
  fill: #0077b5;
}
/* line 83, ../sass/pages/_inicio.scss */
main section.social article:nth-child(2) {
  margin-top: 15px;
  float: right;
  margin-right: 50px;
}
/* line 88, ../sass/pages/_inicio.scss */
main section.social article:nth-child(2) h3 {
  float: left;
  margin-right: 10px;
  color: #0074c5;
}
/* line 94, ../sass/pages/_inicio.scss */
main section.social article:nth-child(2) form {
  float: right;
}
/* line 97, ../sass/pages/_inicio.scss */
main section.social article:nth-child(2) form input {
  margin-right: 0px;
  height: 20px;
  border: none;
  background-color: white;
  color: #383838;
}
/* line 104, ../sass/pages/_inicio.scss */
main section.social article:nth-child(2) form input:nth-child(3) {
  height: 22px;
  margin-left: -3px;
  background-color: #0074c5;
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 122, ../sass/pages/_inicio.scss */
  main section .principal {
    margin-left: 20px;
    margin-right: 20px;
  }
  /* line 125, ../sass/pages/_inicio.scss */
  main section .principal h2 {
    padding-top: 30px;
  }
  /* line 129, ../sass/pages/_inicio.scss */
  main section .principal p {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  /* line 137, ../sass/pages/_inicio.scss */
  main section.social article {
    display: inherit;
    margin-left: 20px;
    margin-right: 20px;
    margin-right: 0px;
  }
  /* line 143, ../sass/pages/_inicio.scss */
  main section.social article:nth-child(1) h3 {
    display: none;
  }
  /* line 146, ../sass/pages/_inicio.scss */
  main section.social article:nth-child(1) ul {
    position: inherit;
    float: left;
  }
  /* line 161, ../sass/pages/_inicio.scss */
  main section.social article:nth-child(2) form input:nth-child(1), main section.social article:nth-child(2) form input:nth-child(2) {
    width: 100px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 179, ../sass/pages/_inicio.scss */
  main section .principal {
    margin-left: 5px;
    margin-right: 5px;
  }
  /* line 182, ../sass/pages/_inicio.scss */
  main section .principal h2 {
    padding-top: 20px;
  }
  /* line 186, ../sass/pages/_inicio.scss */
  main section .principal p {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* line 192, ../sass/pages/_inicio.scss */
  main section.social {
    height: 150px;
  }
  /* line 195, ../sass/pages/_inicio.scss */
  main section.social article {
    float: none;
    display: block;
    height: 50px;
    text-align: center;
  }
  /* line 201, ../sass/pages/_inicio.scss */
  main section.social article:nth-child(1) {
    text-align: center;
    padding-top: 10px;
  }
  /* line 205, ../sass/pages/_inicio.scss */
  main section.social article:nth-child(1) h3 {
    position: relative;
    width: 0px;
    display: initial;
  }
  /* line 210, ../sass/pages/_inicio.scss */
  main section.social article:nth-child(1) ul {
    position: relative;
    display: block;
    margin: auto auto;
    left: 10px;
    padding-top: 5px;
  }
  /* line 222, ../sass/pages/_inicio.scss */
  main section.social article:nth-child(2) {
    height: 50px;
    float: none;
    display: block;
    margin: auto auto;
    margin-top: 15px;
  }
  /* line 228, ../sass/pages/_inicio.scss */
  main section.social article:nth-child(2) h3 {
    float: none;
    margin: 0;
    padding-bottom: 10px;
  }
  /* line 234, ../sass/pages/_inicio.scss */
  main section.social article:nth-child(2) form {
    float: none;
  }
  /* line 239, ../sass/pages/_inicio.scss */
  main section.social article:nth-child(2) form input:nth-child(1), main section.social article:nth-child(2) form input:nth-child(2) {
    width: 100px;
  }
}
/* line 4, ../sass/pages/_nosotros.scss */
#nosotros section:nth-child(1) {
  width: 100%;
  height: 200px;
  background-image: url("../images/nosotros_section_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 50px;
}
/* line 13, ../sass/pages/_nosotros.scss */
#nosotros section:nth-child(1) h2 {
  position: relative;
  margin-left: 50px;
  margin-bottom: 30px;
  padding: 7px;
  padding-left: 17px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 110px;
}
/* line 23, ../sass/pages/_nosotros.scss */
#nosotros section:nth-child(1) p {
  margin-left: 50px;
  margin-right: 50px;
  line-height: 20px;
  margin-left: 50px;
  padding: 7px;
  padding-left: 17px;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 34, ../sass/pages/_nosotros.scss */
#nosotros section:nth-child(2) {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
/* line 29, ../sass/modules/_utility.scss */
#nosotros section:nth-child(2) h2 {
  padding-top: 50px;
}
/* line 33, ../sass/modules/_utility.scss */
#nosotros section:nth-child(2) p {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 50px;
  line-height: 20px;
}

/* line 4, ../sass/pages/_modulares.scss */
#modulares section:nth-child(1) {
  width: 100%;
  height: 240px;
  background-image: url("../images/modulares_section_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 50px;
}
/* line 13, ../sass/pages/_modulares.scss */
#modulares section:nth-child(1) h2 {
  position: relative;
  margin-left: 50px;
  margin-bottom: 30px;
  padding: 7px;
  padding-left: 17px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 385px;
}
/* line 23, ../sass/pages/_modulares.scss */
#modulares section:nth-child(1) p {
  margin-left: 50px;
  margin-right: 50px;
  line-height: 20px;
  margin-left: 50px;
  padding: 7px;
  padding-left: 17px;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 35, ../sass/pages/_modulares.scss */
#modulares section:nth-child(2) article.galeria {
  width: 100%;
  overflow: hidden;
}
/* line 39, ../sass/pages/_modulares.scss */
#modulares section:nth-child(2) article.galeria h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
/* line 45, ../sass/pages/_modulares.scss */
#modulares section:nth-child(2) article.galeria div.galery_list {
  width: 200px;
  height: 200px;
}
/* line 49, ../sass/pages/_modulares.scss */
#modulares section:nth-child(2) article.galeria div.galery_list div.galery_unit {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 54, ../sass/pages/_modulares.scss */
#modulares section:nth-child(2) article.galeria div.galery_list div.galery_unit a {
  width: 100%;
  height: 100%;
}
/* line 61, ../sass/pages/_modulares.scss */
#modulares section:nth-child(2) article.galeria div.galery_list div.galery_unit a div {
  display: none;
}

/* line 3, ../sass/pages/_materiales.scss */
#materiales section:nth-child(1) {
  overflow: hidden;
  width: 100%;
}
/* line 16, ../sass/pages/_materiales.scss */
#materiales section:nth-child(2) {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
/* line 29, ../sass/modules/_utility.scss */
#materiales section:nth-child(2) h2 {
  padding-top: 50px;
}
/* line 33, ../sass/modules/_utility.scss */
#materiales section:nth-child(2) p {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 50px;
  line-height: 20px;
}

/* line 1, ../sass/pages/_header.scss */
header {
  width: 100%;
  height: 80px;
  position: relative;
  top: 0px;
}
/* line 7, ../sass/pages/_header.scss */
header a {
  float: left;
  height: 100%;
  /*padding-left:50px;*/
  margin-left: 50px;
}
/* line 13, ../sass/pages/_header.scss */
header a img {
  width: 80%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 19, ../sass/pages/_header.scss */
header nav {
  position: absolute;
  margin-right: 50px;
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 25, ../sass/pages/_header.scss */
header nav div {
  display: none;
  padding-right: 10px;
}
/* line 29, ../sass/pages/_header.scss */
header nav div svg {
  width: 100%;
  float: right;
}
/* line 35, ../sass/pages/_header.scss */
header nav ul {
  float: right;
  margin-right: 50px;
}
/* line 39, ../sass/pages/_header.scss */
header nav ul li {
  display: inline;
  padding-left: 20px;
  top: 50%;
}
/* line 44, ../sass/pages/_header.scss */
header nav ul li a {
  margin-left: 0px;
  float: none;
  padding-left: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 57, ../sass/pages/_header.scss */
  header a {
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    margin-right: 0px;
  }
  /* line 62, ../sass/pages/_header.scss */
  header a img {
    width: 100%;
  }
  /* line 67, ../sass/pages/_header.scss */
  header nav {
    margin-left: 20px;
    margin-right: 20px;
    margin-left: 0px;
  }
  /* line 76, ../sass/pages/_header.scss */
  header nav ul li a {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 88, ../sass/pages/_header.scss */
  header a {
    width: 50%;
    margin-left: 5px;
    margin-right: 5px;
    margin-right: 0px;
  }
  /* line 93, ../sass/pages/_header.scss */
  header a img {
    width: 100%;
  }
  /* line 98, ../sass/pages/_header.scss */
  header nav {
    margin-left: 5px;
    margin-right: 5px;
    margin-left: 0px;
    height: 70px;
  }
  /* line 103, ../sass/pages/_header.scss */
  header nav div {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 0px;
  }
  /* line 110, ../sass/pages/_header.scss */
  header nav div svg {
    width: 50px;
    height: 75px;
  }
  /* line 114, ../sass/pages/_header.scss */
  header nav div svg g {
    fill: #383838;
  }
  /* line 119, ../sass/pages/_header.scss */
  header nav ul {
    display: none;
    position: absolute;
    top: 75px;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    display: block;
    margin: auto auto;
  }
  /* line 128, ../sass/pages/_header.scss */
  header nav ul li {
    display: block;
    background-color: rgba(56, 56, 56, 0.9);
    text-align: center;
    font-size: 1em;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* line 137, ../sass/pages/_header.scss */
  header nav ul li a {
    margin-left: 0px;
    color: white;
    display: block;
    margin: auto auto;
  }
}
/* line 1, ../sass/pages/_footer.scss */
footer {
  width: 100%;
  min-height: 260px;
  padding-top: 50px;
}
/* line 6, ../sass/pages/_footer.scss */
footer article {
  float: left;
  margin-bottom: 10px;
}
/* line 10, ../sass/pages/_footer.scss */
footer article h3 {
  padding-top: 7px;
  padding-bottom: 5px;
}
/* line 15, ../sass/pages/_footer.scss */
footer article:nth-child(1) {
  margin-left: 50px;
}
/* line 17, ../sass/pages/_footer.scss */
footer article:nth-child(1) h4 {
  padding-bottom: 5px;
}
/* line 21, ../sass/pages/_footer.scss */
footer article:nth-child(1) p {
  line-height: 25px;
}
/* line 26, ../sass/pages/_footer.scss */
footer article:nth-child(2) {
  margin-left: 50px;
  width: 35%;
  height: 240px;
}
/* line 31, ../sass/pages/_footer.scss */
footer article:nth-child(2) iframe {
  width: 100%;
  height: 100%;
}
/* line 37, ../sass/pages/_footer.scss */
footer article:nth-child(3) {
  float: right;
  margin-right: 50px;
  text-align: right;
}
/* line 42, ../sass/pages/_footer.scss */
footer article:nth-child(3) h5 {
  display: inline;
  margin-right: 10px;
}
/* line 47, ../sass/pages/_footer.scss */
footer article:nth-child(3) a {
  color: #0074c5;
  line-height: 25px;
}
/* line 53, ../sass/pages/_footer.scss */
footer article:nth-child(4) {
  width: 100%;
  margin-top: 30px;
  color: rgba(56, 56, 56, 0.7);
  font-size: 10pt;
}
/* line 59, ../sass/pages/_footer.scss */
footer article:nth-child(4) a {
  color: rgba(56, 56, 56, 0.7);
}
/* line 62, ../sass/pages/_footer.scss */
footer article:nth-child(4) span:nth-child(1) {
  margin-left: 50px;
}
/* line 66, ../sass/pages/_footer.scss */
footer article:nth-child(4) span:nth-child(2) {
  float: right;
  margin-right: 50px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 80, ../sass/pages/_footer.scss */
  footer article:nth-child(1) {
    margin-left: 20px;
    margin-right: 20px;
    margin-right: 0px;
  }
  /* line 90, ../sass/pages/_footer.scss */
  footer article:nth-child(2) {
    margin-left: 20px;
    width: 32%;
    height: 240px;
  }
  /* line 99, ../sass/pages/_footer.scss */
  footer article:nth-child(3) {
    margin-left: 20px;
    margin-right: 20px;
    margin-left: 0px;
  }
  /* line 113, ../sass/pages/_footer.scss */
  footer article:nth-child(4) span:nth-child(1) {
    margin-left: 20px;
    margin-right: 20px;
    margin-right: 0px;
  }
  /* line 118, ../sass/pages/_footer.scss */
  footer article:nth-child(4) span:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
    margin-left: 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 129, ../sass/pages/_footer.scss */
  footer {
    text-align: center;
  }
  /* line 132, ../sass/pages/_footer.scss */
  footer article {
    float: none;
  }
  /* line 135, ../sass/pages/_footer.scss */
  footer article:nth-child(1) {
    margin-left: 5px;
    margin-right: 5px;
    margin-right: 0px;
  }
  /* line 145, ../sass/pages/_footer.scss */
  footer article:nth-child(2) {
    width: 100%;
    height: 240px;
    margin: 0px;
  }
  /* line 150, ../sass/pages/_footer.scss */
  footer article:nth-child(2) iframe {
    width: 100%;
    height: 100%;
  }
  /* line 156, ../sass/pages/_footer.scss */
  footer article:nth-child(3) {
    margin-left: 5px;
    margin-right: 5px;
    margin-left: 0px;
    float: none;
    text-align: center;
  }
  /* line 172, ../sass/pages/_footer.scss */
  footer article:nth-child(4) span:nth-child(1) {
    margin-left: 5px;
    margin-right: 5px;
    margin-right: 0px;
  }
  /* line 177, ../sass/pages/_footer.scss */
  footer article:nth-child(4) span:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
    margin-left: 0px;
  }
}
/* line 1, ../sass/partials/_reset.scss */
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: #383838;
  font-family: "latha", "Lato", Lucida Sans, Georgia, Serif;
}

/* line 8, ../sass/partials/_reset.scss */
p, h1, h2, h3, h4, h5 {
  font-family: "latha", "Lato", Lucida Sans, Georgia, Serif;
}

/* line 12, ../sass/partials/_reset.scss */
h1 {
  font-size: 2.3em;
}

/* line 15, ../sass/partials/_reset.scss */
h2 {
  font-size: 2em;
}

/* line 18, ../sass/partials/_reset.scss */
h3 {
  font-size: 1.3em;
}

/* line 21, ../sass/partials/_reset.scss */
p {
  font-size: 0.9em;
}

/* line 24, ../sass/partials/_reset.scss */
a {
  text-decoration: none;
  color: #383838;
}

/* line 28, ../sass/partials/_reset.scss */
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "latha", "Lato", Lucida Sans, Georgia, Serif;
  font-size: 1.1em;
  padding-left: 10px;
}

/* line 29, ../sass/partials/_reset.scss */
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "latha", "Lato", Lucida Sans, Georgia, Serif;
  font-size: 1.1em;
  padding-left: 10px;
}

/* firefox 19+ */
/* line 30, ../sass/partials/_reset.scss */
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "latha", "Lato", Lucida Sans, Georgia, Serif;
  font-size: 1.1em;
  padding-left: 10px;
}

/* ie */
/* line 31, ../sass/partials/_reset.scss */
input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "latha", "Lato", Lucida Sans, Georgia, Serif;
  font-size: 1.1em;
  padding-left: 10px;
}

/* line 2, ../sass/vendor/_slideJquery.scss */
.slider div#banner-fade {
  /*ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}*/
  /*li.bjqs-slide{position:absolute; display:none;}*/
  /*ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}*/
  /*ul.bjqs-controls.v-centered li a{position:absolute;}*/
  /*ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}*/
  /*ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}*/
  /*ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}*/
  /*ol.bjqs-markers.h-centered{text-align: center;}*/
  /*ol.bjqs-markers li{display:inline;}*/
  /*ol.bjqs-markers li a{display:inline-block;}*/
  /* Estilos para mi tema */
}
/* line 13, ../sass/vendor/_slideJquery.scss */
.slider div#banner-fade p.bjqs-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0;
}
/* line 16, ../sass/vendor/_slideJquery.scss */
.slider div#banner-fade ul.bjqs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}
/* line 25, ../sass/vendor/_slideJquery.scss */
.slider div#banner-fade ul.bjqs li.bjqs-slide {
  position: absolute;
  display: none;
}
/* line 32, ../sass/vendor/_slideJquery.scss */
.slider div#banner-fade ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}
/* line 38, ../sass/vendor/_slideJquery.scss */
.slider div#banner-fade ul.bjqs-controls.v-centered li {
  font-size: 3em;
}
/* line 41, ../sass/vendor/_slideJquery.scss */
.slider div#banner-fade ul.bjqs-controls.v-centered li a {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgba(56, 56, 56, 0.5);
}
/* line 49, ../sass/vendor/_slideJquery.scss */
.slider div#banner-fade ul.bjqs-controls.v-centered li.bjqs-next a {
  right: 0;
}
/* line 50, ../sass/vendor/_slideJquery.scss */
.slider div#banner-fade ul.bjqs-controls.v-centered li.bjqs-prev a {
  left: 0;
}
/* line 54, ../sass/vendor/_slideJquery.scss */
.slider div#banner-fade ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
}
/* line 61, ../sass/vendor/_slideJquery.scss */
.slider div#banner-fade ol.bjqs-markers li {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: rgba(56, 56, 56, 0.5);
  text-align: center;
  border: solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 14px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* line 77, ../sass/vendor/_slideJquery.scss */
.slider div#banner-fade ol.bjqs-markers li a {
  font-size: 8px;
  display: inline-block;
  color: rgba(56, 56, 56, 0);
  line-height: 8px;
}
/* line 85, ../sass/vendor/_slideJquery.scss */
.slider div#banner-fade ol.bjqs-markers.h-centered {
  text-align: center;
  margin-top: -50px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 110, ../sass/vendor/_slideJquery.scss */
  .slider ol.bjqs-markers.h-centered {
    margin-top: -30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* line 125, ../sass/vendor/_slideJquery.scss */
  slider ol.bjqs-markers {
    display: none;
  }
}
